/* sigma.js context : */
.sigma-parent {
    position: relative;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #222;
    height: 600px;
  }
.sigma-expand {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #333;
  }
#sigma-example ul {
    max-width: 150px;
    min-width: 50px;
    list-style: none;
}

#sigma-example li {
    padding-left: 0px;
}
